html,
body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
   background: linear-gradient(to bottom, #f4c042 30%, #0f2964 70%);
    background-size: cover;
}

#sun,
#moon {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
     z-index: 2;
}

#sun {
    background-color: #f4c042;
    border: 5px solid #7a6021;
    top: 10vh;
    left: 10vw;
}

#moon {
    background-color: #95c7fa;
    border: 5px solid #67a8f1;
    top: 75vh; 
    right: 10vw;
    z-index: 3; 
}

.crater {
    position: absolute;
    border-radius: 50%;
    background: #67a8f1;
}

.crater1 {
    width: 30px;
    height: 30px;
    top: 40px;
    left: 40px;
}

.crater2 {
    width: 15px;
    height: 15px;
    top: 20px;
    left: 110px;
}

.crater3 {
    width: 25px;
    height: 25px;
    top: 50px;
    left: 150px;
}

.crater4 {
    width: 35px;
    height: 35px;
    top: 130px;
    left: 30px;
}

.crater5 {
    width: 25px;
    height: 25px;
    top: 160px;
    left: 100px;
}

.crater6 {
    width: 20px;
    height: 20px;
    top: 140px;
    left: 150px;
}

.beam {
    width: 5px;
    height: 30px;
    background: #7a6021;
    position: absolute;
}

.beam1 {
    transform: rotate(0deg);
    top: -20px;
    left: 120px;
}

.beam2 {
    transform: rotate(45deg);
    top: 20px;
    left: 220px;
}

.beam3 {
    transform: rotate(90deg);
    top: 110px;
    left: 250px;
}

.beam4 {
    transform: rotate(135deg);
    top: 200px;
    left: 220px;
}

.beam5 {
    transform: rotate(180deg);
    top: 240px;
    left: 120px;
}

.beam6 {
    transform: rotate(225deg);
    top: 200px;
    left: 20px;
}

.beam7 {
    transform: rotate(270deg);
    top: 110px;
    left: -10px;
}

.beam8 {
    transform: rotate(315deg);
    top: 20px;
    left: 20px;
}

.sunbeams {
    width: 250px;
    height: 250px;
    position: absolute;
    top: -25px;
    left: -25px;
    animation: spin 28s linear 0s infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    0% {
        height: 15px;
        top: 0;
    }

    99% {
        height: 15px;
        top: 0;
    }

    100% {
        height: 0px;
        top: 7px;
    }
}

.eyes {
    position: absolute;
    width: 110px;
    height: 20px;
    top: 90px;
    left: 45px;
}

.eyes-l {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: blink 7s linear 0s infinite;
}

.eyes-r {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    animation: blink 7s linear 0s infinite;
}

#moon .eyes-l,
#moon .eyes-r {
    background: #0f2964;
}

#sun .eyes-l,
#sun .eyes-r {
    background: #4f0504;
}

/* Title */
#title {
    display: inline-block;
    font-family: "IBM Plex Sans";
    font-size: 5rem;
    transition: color 0.5s ease;
    position: relative;
    z-index: 2;
    transition: opacity 2s ease;
}

.container {
    padding-left: 4rem;
    padding-right: 4rem;
    width: 100%;
    margin: auto;
    font-family: "IBM Plex Sans";
}

.map {
    width: 100%;
    height: 400px;
    border: 8px double #7a6021;
    margin-bottom: 5rem;
}

#map{
    z-index: -1;
}

.contact-info {
    background: #0f2964;
    padding: 1.5rem;
    border: 8px double #67a8f1;
    color: #ffffff;
}

.contact-info h2 {
    margin-top: 0;
}

a {
    color: #95c7fa;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}