 body {
 	background-color: #b0d7fe;
 	margin: 0;
 }

 .section {
 	margin-top: 10vh;
 	margin-left: 5vw;
 	margin-right: 5vw;
 	margin-bottom: 5vw;
 	background: #0f2864;
 	border-radius: 8px;
 	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 	font-family: "IBM Plex Sans";
 	color: #d2d9ff;
 	text-align: center;
 	align-items: center;

 }

 h2 {
 	margin-top: 0;
 }

 .charts {
 	display: flex;
 	gap: 20px;
 	flex-wrap: wrap;
 	margin: 10px;
 }

 .chart-container {
 	flex: 1;
 	min-width: 300px;
 }

 .cards {
 	display: flex;
 	gap: 10%;
 	margin-top: 20px;
 	flex-wrap: wrap;
	justify-content: center;
 }

 .card {
 	background: #a8d4ff;
 	padding: 15px;
 	border-radius: 8px;
 	width: 40%; 
	color: black;
 }

 .admin-list {
 	margin-top: 20px;
 }

 .admin-item {
 	background: #fff3e0;
 	padding: 10px;
 	border-radius: 4px;
 	margin-bottom: 5px;
 }

 .toggle-btn {
 	padding: 10px 20px;
 	font-size: 16px;
 	background-color: #0288d1;
 	color: white;
 	border: none;
 	border-radius: 6px;
 	cursor: pointer;
 }

 .toggle-btn.off {
 	background-color: #d32f2f;
 }