:root {
    --ring: currentColor;
    --blend-from: 0%;
    --blend-to: 100%;
    --blend-dir: top right;
}

/* se qui gli metti border-radius: 100% allora diventa tondo*/
[icon] {
    flex: none;
    display: none;
    position: relative;
    font-size: calc(10em + 1vmin);
    box-shadow: 0 0 0 .05em var(--ring) inset, 0 0 .3em -.03em var(--shadow);
    background: linear-gradient(to var(--blend-dir), var(--blend1) var(--blend-from), var(--blend2) var(--blend-to));
}

[icon]::after {
    content: attr(data-label);
    position: absolute;
    top: calc(100% + 1vmin);
    left: 50%;
    transform: translateX(-50%);
    font: inherit;
    font-size: .15em;
}

[icon='supermoon'] {
    --shadow: #5133a5;
    --blend1: #4054b2;
    --blend2: #aa4cba;
    --blend-to: 65%;
    --blend-dir: bottom right;
}

/* SUPERMOON */
/* --------------------- */
[icon="supermoon"] {
    position: relative;    /* Needed for containing the absolute ::before */
    overflow: hidden;
}

[icon="supermoon"]::before {
    content: '';
    position: absolute; /* stretch inside parent */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-image:
        radial-gradient(1px 1px at 50% 20%, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(1px 1px at 30% 65%, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 15% 05%, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 37% 35%, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 65% 47%, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(1px 1px at 42% 29%, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(1px 1px at 73% 56%, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(1px 1px at 24% 19%, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(2px 2px at 31% 47%, #fff, rgba(0, 0, 0, 0)),
        radial-gradient(1px 1px at 18% 39%, #fff, rgba(0, 0, 0, 0));
    background-repeat: no-repeat;
    will-change: transform;
    animation: revolve 120s linear infinite;
    z-index: 0;
    transform-origin: center center;
}

.moon-ico {
    position: absolute;
    top: 65%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 15%;
    aspect-ratio: 1;
    border-radius: 100%;
    background: radial-gradient(circle at bottom left, var(--ring), #fef07e);
    box-shadow: 0 0 0 .02em var(--ring) inset, 0 0 .3em -.03em var(--blend2);
}

.moon-ico::before,
.moon-ico::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    background-color: var(--blend1);
    box-shadow: .01em .01em .1em 0 var(--blend1);
}

.moon-ico::before {
    top: 15%;
    left: 55%;
    width: 20%;
    height: 20%;
    opacity: .3;
}

.moon-ico::after {
    bottom: 50%;
    left: 25%;
    width: 15%;
    height: 15%;
    opacity: .2;
}

.meteor {
    position: absolute;
    background-color: #fff;
    opacity: 0;
    top: 20%;
    left: 55%;
    width: 1px;
    height: 15px;
    transform: rotate(45deg);
    will-change: transform, opacity;
    animation: meteor 6250ms infinite ease-in;
}

[icon="supermoon"] {
    display: block;
}

@keyframes revolve {
    to {
        transform: rotate(360deg);
    }
}

@keyframes meteor {
    5% {
        opacity: 1;
    }

    8% {
        transform: translate(-.6em, .6em) rotate(45deg);
        opacity: 0;
    }
}

/* Container to align all divs horizontally */
.weather-container {
    margin: 30px auto 0 auto;
    width: 90vw;
    min-height: 50vh;
    box-sizing: border-box;
    color: #e6e8db;
    text-align: center;
}

.icon-class {
    color: #e6e8db;
}

.city-name {
    font-weight: bold;
    font-size: 15vw;
    text-align: center;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    margin-top: 0; 
    width: auto; 
    color: #e6e8db;
}

.temperature,
.humidity,
.pressure,
.wind {
    font-size: 2vw;
    color: #e6e8db;
}

.temperature {
    position: absolute;
    top: 2%;  
    left: 4%;
}

.humidity {
    position: absolute;
    top: 13%;  
    left: 4%; 
}

.pressure {
    position: absolute;
    bottom: 13%;
    left: 4%;
}

.wind {
    position: absolute;
    bottom: 2%;
    left: 4%;
}